<!DOCTYPE html>
<html lang="ko">
<head>
	<title>@yield('title','날개제.kr')</title>
	
	
	<meta charset="UTF-8">
	<meta name="csrf-token" content="{{ csrf_token() }}">
	<meta name="viewport" content="width=device-width">
	<meta name="title" content="날개제">
	<meta name="keyword" content="날개제, 공군, 공군 항공과학고등학교">
	<meta name="description" content="날개제 웹사이트">

	<script>
		if (location.protocol === 'http:') {
			location.protocol = 'https:';
		}
	</script>
	
	<link rel="stylesheet" href="../../../public/css/app.css">	<!-- bootstrap -->
	<link rel="stylesheet" href="../../../public/css/styles.css">


</head>
<body>
	<div class="header-padder"></div>
	<header>
		<div class="container">
			<div class="logo d-flex justify-content-between mt-3">
				<a class="header-btn" href="{{route('home')}}">
					<img src="../../../public/img/home.svg" alt="1">
				</a>
				<a href="{{route('home')}}" class="logo-box">
					<img src="../../../public/img/logo.png" alt="">
				</a>
				<a class="header-btn" href="{{route('reader')}}">
					<img src="../../../public/img/QRQR.png" alt="qr code reader">
				</a>
			</div>
			<nav class="nav justify-content-around mt-1">
				<div id="go-calendar" class="nav-item">일정표</div>
				<a href="/parade" class="nav-item">퍼레이드</a>
				<a href="/stamp" class="nav-item">스탬프 투어</a>
				<a href="/exhibit" class="nav-item">전시회</a>
				<a href="/QnA" class="nav-item">Q&A</a>
			</nav>
		</div>
	</header>

	<section id="stamp">
		<div class="section-title pt-3 mb-3">
			<h2>스탬프 투어란?</h2>
		</div>
		<div class="container px-5 mb-5">
			<p class="text-center px-3">학생과 학부모(친구 또는 지인)가 <span class="text-danger">2인 1조로</span><br>함께 부스 체험을 하여 스탬프를 모으는 행사 입니다.</p>
			<p class="text-center px-3">총 10개의 스탬프 투어 부스가 운영되며 각 부스별<br>미션 성공시 해당 부스의 <span class="text-danger">스탬프를 획득</span>할 수 있습니다</p>
			<p class="text-center px-3"><span class="text-danger">10개</span>의 스탬프를 모아 통제본부(안내)로 가져오시면<br>추첨을 통하여 다양한 상품들을 지급하고 있습니다.</p>
		</div>
		<div class="section-title mb-3">
			<h2>스탬프 투어 부스</h2>
		</div>
		<div class="container px-5 mb-5">
			<div class="row">
				<div class="col-12 mb-3">
					<div class="card">
						<img src="../../../public/img/stamp/c16.jpg" alt="" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">기타연주부</h5>
							<p class="card-text">두명이 같이 c, d, e, f 코드를 치게 되면 스탬프 획득!</p>
						</div>
					</div>
				</div>
				<div class="col-12 mb-3">
					<div class="card">
						<img src="../../../public/img/stamp/c13.jpg" alt="" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">축구부</h5>
							<p class="card-text">두명이 연속으로 골을 넣었을 경우 스템프 획득! 한명이라도 실패하면 다시 처음부터 도전!</p>
						</div>
					</div>
				</div>
				<div class="col-12 mb-3">
					<div class="card">
						<img src="../../../public/img/stamp/c10.jpg" alt="" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">탁구부</h5>
							<p class="card-text">탁구부</p>
						</div>
					</div>
				</div>
				<div class="col-12 mb-3">
					<div class="card">
						<img src="../../../public/img/stamp/c17.jpeg" alt="" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">풋살부</h5>
							<p class="card-text">풋살부</p>
						</div>
					</div>
				</div>
				<div class="col-12 mb-3">
					<div class="card">
						<img src="../../../public/img/stamp/c17.jpg" alt="" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">배드민턴부</h5>
							<p class="card-text">네트 점수판을 기준으로 두명의 도전자의 합산 점수가 7점 이상일 경우 스템프 획득!</p>
						</div>
					</div>
				</div>
				<div class="col-12 mb-3">
					<div class="card">
						<img src="../../../public/img/stamp/c4.jpg" alt="" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">모형항공기부</h5>
							<p class="card-text">모형항공기부</p>
						</div>
					</div>
				</div>
				<div class="col-12 mb-3">
					<div class="card">
						<img src="../../../public/img/stamp/c7.jpg" alt="" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">족구부</h5>
							<p class="card-text">족구부</p>
						</div>
					</div>
				</div>
				<div class="col-12 mb-3">
					<div class="card">
						<img src="../../../public/img/stamp/c18.jpg" alt="" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">배구부</h5>
							<p class="card-text">배구부</p>
						</div>
					</div>
				</div>
				<div class="col-12 mb-3">
					<div class="card">
						<img src="../../../public/img/stamp/c19.jpg" alt="" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">테니스부</h5>
							<p class="card-text">페트병 4개를 세워놓고 1인 각 3회의 공을 칠 수 있는 기회를 부여하고, 페트병을 2개 이상 넘어뜨리면 스템프 획득!</p>
						</div>
					</div>
				</div>
				<div class="col-12 mb-3">
					<div class="card">
						<img src="../../../public/img/stamp/c1.jpg" alt="" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">체력단련부</h5>
							<p class="card-text">철봉 오래 매달리기를 2명이서 합산한 시간이 30초가 넘을 경우 스템프 획득!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<footer>
		<div class="contact">
			<div class="container">
				<div class="mx-5">
					<p class="mb-3 pt-3 text-center">공군 항공과학고등학교 날개제 위원회</p>
					<p class="mb-1">주소&nbsp;&nbsp;&nbsp;경남 진주시 금산면 송백로 44-3</p>
					<p class="m-0 pb-3">전화&nbsp;&nbsp;&nbsp;055-750-2121</p>
				</div>
			</div>
		</div>
		<div class="copy">
			<div class="container text-center p-3">
				<p>azzadh999@gmail.com</p>
				<p>2019 AFASHS 김도현, All Rights Reserved | 36th AFASHS ASSEMBLE</p>
			</div>
		</div>
	</footer>
	
	<script src="/public/js/jquery-3.4.1.min.js"></script>
	<script>
		$('#go-calendar').on('click',function(e) {
			if (location.href.match(/home$/) === null) {
				location.href = "https://xn--h49aq9fm9y.kr/home#calendar";
			} else {
				scroll({top: $('#calendar').offset().top - 20,  behavior: 'smooth'})
			}
		});
	</script>

	
</body>
</html>