(
    [0] => stdClass Object
        (
            [sid] => 108
            [jid] => 0
            [cn] => 49
            [name] => 곽웅대
            [row] => 0
            [col] => 0
            [role] => 
            [type] => normal
        )

    [1] => stdClass Object
        (
            [sid] => 109
            [jid] => 0
            [cn] => 50
            [name] => 류지상
            [row] => 1
            [col] => 0
            [role] => 
            [type] => normal
        )

    [2] => stdClass Object
        (
            [sid] => 110
            [jid] => 0
            [cn] => 51
            [name] => 주동찬
            [row] => 1
            [col] => 1
            [role] => 
            [type] => normal
        )

    [3] => stdClass Object
        (
            [sid] => 111
            [jid] => 0
            [cn] => 49
            [name] => 엄태경
            [row] => 1
            [col] => 2
            [role] => 
            [type] => normal
        )

    [4] => stdClass Object
        (
            [sid] => 112
            [jid] => 0
            [cn] => 50
            [name] => 이준석
            [row] => 1
            [col] => 3
            [role] => 
            [type] => normal
        )

    [5] => stdClass Object
        (
            [sid] => 113
            [jid] => 0
            [cn] => 50
            [name] => 이지원
            [row] => 2
            [col] => 0
            [role] => 
            [type] => normal
        )

    [6] => stdClass Object
        (
            [sid] => 114
            [jid] => 0
            [cn] => 50
            [name] => 김예진
            [row] => 2
            [col] => 1
            [role] => 
            [type] => normal
        )

    [7] => stdClass Object
        (
            [sid] => 115
            [jid] => 0
            [cn] => 50
            [name] => 김도현
            [row] => 2
            [col] => 2
            [role] => 
            [type] => normal
        )

    [8] => stdClass Object
        (
            [sid] => 116
            [jid] => 0
            [cn] => 49
            [name] => 선병길
            [row] => 2
            [col] => 3
            [role] => 
            [type] => normal
        )

    [9] => stdClass Object
        (
            [sid] => 117
            [jid] => 0
            [cn] => 50
            [name] => 김용환
            [row] => 3
            [col] => 0
            [role] => 
            [type] => normal
        )

    [10] => stdClass Object
        (
            [sid] => 118
            [jid] => 0
            [cn] => 51
            [name] => 조효제
            [row] => 3
            [col] => 1
            [role] => 
            [type] => normal
        )

    [11] => stdClass Object
        (
            [sid] => 119
            [jid] => 0
            [cn] => 49
            [name] => 이수빈
            [row] => 3
            [col] => 2
            [role] => 
            [type] => normal
        )

    [12] => stdClass Object
        (
            [sid] => 120
            [jid] => 0
            [cn] => 49
            [name] => 김유리
            [row] => 3
            [col] => 3
            [role] => 
            [type] => normal
        )

    [13] => stdClass Object
        (
            [sid] => 121
            [jid] => 0
            [cn] => 50
            [name] => 정준호A
            [row] => 4
            [col] => 0
            [role] => 
            [type] => normal
        )

    [14] => stdClass Object
        (
            [sid] => 122
            [jid] => 0
            [cn] => 49
            [name] => 김지훈
            [row] => 4
            [col] => 1
            [role] => 
            [type] => normal
        )

    [15] => stdClass Object
        (
            [sid] => 123
            [jid] => 0
            [cn] => 50
            [name] => 김영재
            [row] => 4
            [col] => 2
            [role] => 
            [type] => normal
        )

    [16] => stdClass Object
        (
            [sid] => 124
            [jid] => 0
            [cn] => 51
            [name] => 김정석
            [row] => 4
            [col] => 3
            [role] => 
            [type] => normal
        )

    [17] => stdClass Object
        (
            [sid] => 125
            [jid] => 0
            [cn] => 50
            [name] => 이상훈
            [row] => 5
            [col] => 0
            [role] => 
            [type] => normal
        )

    [18] => stdClass Object
        (
            [sid] => 126
            [jid] => 0
            [cn] => 50
            [name] => 김승찬
            [row] => 5
            [col] => 1
            [role] => 
            [type] => normal
        )

    [19] => stdClass Object
        (
            [sid] => 127
            [jid] => 0
            [cn] => 49
            [name] => 박건하
            [row] => 5
            [col] => 2
            [role] => 
            [type] => normal
        )

    [20] => stdClass Object
        (
            [sid] => 128
            [jid] => 0
            [cn] => 49
            [name] => 함동우
            [row] => 5
            [col] => 3
            [role] => 
            [type] => normal
        )

    [21] => stdClass Object
        (
            [sid] => 129
            [jid] => 0
            [cn] => 49
            [name] => 조준희
            [row] => 6
            [col] => 0
            [role] => 
            [type] => normal
        )

    [22] => stdClass Object
        (
            [sid] => 130
            [jid] => 0
            [cn] => 49
            [name] => 이상훈A
            [row] => 6
            [col] => 1
            [role] => 
            [type] => normal
        )

    [23] => stdClass Object
        (
            [sid] => 131
            [jid] => 0
            [cn] => 50
            [name] => 주예준
            [row] => 6
            [col] => 2
            [role] => 
            [type] => normal
        )

    [24] => stdClass Object
        (
            [sid] => 132
            [jid] => 0
            [cn] => 51
            [name] => 한영민
            [row] => 6
            [col] => 3
            [role] => 
            [type] => normal
        )

    [25] => stdClass Object
        (
            [sid] => 133
            [jid] => 0
            [cn] => 49
            [name] => 김민성
            [row] => 7
            [col] => 0
            [role] => 
            [type] => normal
        )

    [26] => stdClass Object
        (
            [sid] => 134
            [jid] => 0
            [cn] => 50
            [name] => 박주형
            [row] => 7
            [col] => 1
            [role] => 
            [type] => normal
        )
)

<div class="jd d-flex justify-content-center align-items-stretch">
	<div class="left-title">
		관악부<br>제대
	</div>
	<div class="content">
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
		</div>
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
	</div>
</div>
<div class="jd d-flex justify-content-center align-items-stretch">
	<div class="left-title">
		총학생회<br>제대
	</div>
	<div class="content">
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
		</div>
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
	</div>
</div>
<div class="jd d-flex justify-content-center align-items-stretch">
	<div class="left-title">
		관악부 제대
	</div>
	<div class="content">
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
	</div>
</div>
<div class="jd d-flex justify-content-center align-items-stretch">
	<div class="left-title">
		1제대
	</div>
	<div class="content">
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
	</div>
</div>