<div class="jd d-flex justify-content-center align-items-stretch">
	<div class="left-title">
		관악부<br>제대
	</div>
	<div class="content">
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
		</div>
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
	</div>
</div>
<div class="jd d-flex justify-content-center align-items-stretch">
	<div class="left-title">
		총학생회<br>제대
	</div>
	<div class="content">
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
		</div>
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
	</div>
</div>
<div class="jd d-flex justify-content-center align-items-stretch">
	<div class="left-title">
		관악부 제대
	</div>
	<div class="content">
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
	</div>
</div>
<div class="jd d-flex justify-content-center align-items-stretch">
	<div class="left-title">
		1제대
	</div>
	<div class="content">
		<div class="jd-row jd-row-first d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
		<div class="jd-row d-flex">
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
			<div class="cell"></div>
		</div>
	</div>
</div>